#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft MPI Process Management Services Library"
#define VER_INTERNALNAME_STR        "mspms"
#define VER_ORIGINALFILENAME_STR    "mspms.dll"

#include "common.ver"
