#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft MPI Process Manager"
#define VER_INTERNALNAME_STR        "smpd"
#define VER_ORIGINALFILENAME_STR    "smpd.exe"

#include "common.ver"
